.product-preview-card {
  &__title {
    font-family: monospace;
    font-style: normal;
    color: red;
    font-weight: 500;
    justify-content: center;
    align-items: center;
  }

  &__description {
    font-family: 'Segoe UI';
    font-style: italic;
    color: green;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 15rem;
  }
}
