.home-page {
  &__title {
    color: red;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
